.tabs {

    // padding: 100px;
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    margin-left: 15%;

    .button-holder{
        margin: 20px 0px;
    }

    .active-buttons {
        background-color: transparent;
        border-width: 0px;
        font-weight: bold;
        border-bottom: 1px solid green;
        padding-bottom: 15px;
        outline: none !important;
        box-shadow: none !important;
    }

    .buttons {
        background-color: transparent;
        border-width: 0px;
        outline: none !important;
        box-shadow: none !important;
    }

    .buttons:hover {
        cursor: pointer;
        text-decoration: none;
    }
}