.help_container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway',
        sans-serif;


    .title-holder {
        width: 100vw;
        background-color: black;
        padding: 100px 30px;


        h1 {
            color: white;
            font-family: 'Raleway',
                sans-serif;
            font-size: 3rem;
            font-weight: bolder;
        }
    }

    .faq {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 30px;

        p {
            text-align: left;
             font-size: 1rem;
             font-weight: bold;

        }
    }
}