.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    background-color: white;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;

    p {
        color: black;
    }

    .icon-holder {
        display: flex;
        flex-direction: row;

    }
}